<div class="row">
    <div class="col-md-12" style="margin-top: 20px">
        <p class="text-justify">Class curabitur integer cras leo pellentesque ullamcorper phasellus quam augue vitae sodales donec nec, porta dis
            nam vivamus tristique mollis aenean pulvinar proin lobortis viverra nunc ante varius, faucibus lectus litora
            malesuada mus accumsan egestas gravida nisi neque quisque rutrum. Placerat urna et vestibulum luctus pharetra
            magna tempor lacus venenatis, suscipit ut taciti mi bibendum potenti condimentum fermentum aptent, dui montes
            nulla primis nibh semper in ultricies. Ultrices aliquam dignissim ligula penatibus sed metus interdum, enim massa
            fusce sociis non scelerisque, orci facilisi duis arcu rhoncus laoreet. Praesent fames odio mauris ridiculus nisl
            lacinia felis mattis elementum, diam purus tempus sapien vehicula risus suspendisse libero feugiat dictumst,
            quis tellus aliquet fringilla maecenas erat volutpat natoque. Hac iaculis per turpis cum morbi at habitant justo
            conubia molestie, sollicitudin velit dictum vel posuere a imperdiet eros porttitor, cursus sagittis hendrerit
            parturient himenaeos congue commodo tortor sociosqu. Convallis nullam pretium nascetur est netus inceptos, eget
            magnis consequat eleifend euismod torquent sem, senectus etiam nostra auctor tincidunt. Ornare curae habitasse
            eu platea vulputate dapibus blandit ac id, ad facilisis cubilia himenaeos fusce convallis varius faucibus et,
            curae feugiat vulputate auctor integer mauris penatibus sagittis. Sociis velit pretium suscipit nec vestibulum,
            dis sed torquent fringilla.
        </p>
    </div>
</div>