<div class="row">
    <div class="col-md-12" style="margin-top: 20px">
        <p class="text-justify">Phasellus fermentum odio mollis taciti tristique varius lobortis sapien nascetur porttitor, consequat commodo sollicitudin
            ligula sociosqu sem purus ultricies maecenas dui semper, morbi dictumst auctor torquent quisque gravida congue
            enim nisl. Urna ante proin cursus justo ad parturient netus praesent, risus ut orci velit fusce donec volutpat,
            nulla vivamus integer imperdiet mi duis habitasse. Non massa himenaeos pulvinar eleifend etiam nam tempus aliquam
            metus erat, ornare egestas molestie diam senectus euismod habitant magna placerat, venenatis eu cum vehicula
            pretium nec faucibus facilisi vestibulum. Lacus sagittis feugiat cras viverra a et sociis dictum felis, nibh
            tincidunt at accumsan augue facilisis vulputate.
        </p>
    </div>
</div>