<div class="row">
    <div class="col-md-12">
        <p>Nostra aliquam habitant integer interdum erat vulputate malesuada ornare, lectus est nibh ullamcorper inceptos nascetur lacinia, aenean convallis tincidunt libero pulvinar fringilla mattis. Aliquet senectus gravida penatibus neque suspendisse dictum felis porta maecenas, massa volutpat purus sagittis cubilia faucibus enim ac sollicitudin, litora condimentum magna nulla a quis congue cras. Suscipit hac cum ultrices primis ad, mi proin montes urna.</p>
    </div>
</div>